body{
    background-color: rgb(189, 171, 206);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header, main { text-align: center;
}

header {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5 
}

h2 {
font-weight: 500;
font-size: 20px;
line-height: 1.5;}


ul {
    list-style-type: none;
}

.container {
    margin: 120px auto;
    max-width: 1000px;
    font-size: 20px;
}